body {
    margin: 0px;
    background: #F8FBFF;
    color: #333;
}

.navbar-main-container {
    background-color: #0077B6;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.navbar-main-container:hover {
    box-shadow: 0px 9px 8px blue;
}

.main-logo {
    border-radius: 50px;
}

.logo-container {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: bold;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 15px;
}

.heading {
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
}

.nav-links {
    color: none;
    display: flex;
    gap: 30px;
    cursor: pointer;
    padding: 15px;

}

.auth-nav-links {
    background-color: none;
    display: flex;
    gap: 30px;
    cursor: pointer;
}

.sinup {
    color: #f8fbff;
}

.login {
    color: #f8fbff;
}

.contact {
    color: #f8fbff;
}

.home {
    color: #f8fbff;
}

.about {
    color: #f8fbff;
}

.destination {
    color: #f8fbff;
}

.services {
    color: #f8fbff;
}

.booking {
    color: #f8fbff;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

h1 {
    color: #0a63a8;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}

.card {
    background: #FFFFFF;
    padding: 18px;
    border-radius: 16px;
    display: flex;
    gap: 15px;
    margin-bottom: 18px;
    align-items: flex-start;
    border: 2px solid #0A63A8;
    box-shadow: 8px 8px 20px #d1d1d1,-8px -8px 20px #FFFFFF;
}

.icon {
    width: 55px;
    height: 55px;
}

.phone-number {
    font-size: 24px;
    font-weight: 700;
    color: #222;
}

.small {
    font-size: 14px;
    color: #666;
}

a {
    color: #0a63a8;
    font-weight: 600;
}

.center {
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.main-footer {
background: #a2bcd0;
text-align: center;
padding: 25px 10px;
margin-top: 40px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.15);
}