body {
    margin: 0px;
    padding: 0px;
    background-color:rgb(180,222,238);
    background-image: url(./../images/contact_img1.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;

}

.navbar-main-container {
    background-color: #0077B6;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 300;
    margin: 0  25px;
    position: sticky;
    top: 0;
}

.navbar-main-container:hover {
    box-shadow: 0px 9px 8px blue;
}

.main-logo {
    border-radius: 50px;
    font-size: 90px;
}

.logo-container {
    color: #FFFFFF;
    font-size: 25px;
    font-weight: bold;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 15px;
}

.heading {
    font-size: 35px;
    color: #FFFFFF;
    cursor: pointer;
}

.nav-links {
    color: none;
    display: flex;
    gap: 30px;
    cursor: pointer;
    padding: 15px;
    font-size: 20px;

}

.auth-nav-links {
    background-color: none;
    display: flex;
    gap: 30px;
    cursor: pointer;
    font-size: 20px;
}

.sinup {
    color: #f8fbff;
    text-decoration: none;
        font-size: 20px;
    
}

.login {
    color: #f8fbff;
    text-decoration: none;
        font-size: 20px;
}

.contact {
    color: #f8fbff;
    text-decoration: none;
        font-size: 20px;
}

.home {
    color: #f8fbff;
    text-decoration: none;
        font-size: 20px;
}

.about {
    color: #f8fbff;
    text-decoration: none;
        font-size: 20px;
}

.destination {
    color: #f8fbff;
    text-decoration: none;
        font-size: 20px;
}

.services {
    color: #f8fbff;
    text-decoration: none;
        font-size: 20px;
}

.booking {
    color: #f8fbff;
    text-decoration: none;
        font-size: 20px;
}
.package {
    color: #f8fbff;
    text-decoration: none;
        font-size: 20px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

h1 {
    color: #0a63a8;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}

.card {
    background: #FFFFFF;
    padding: 18px;
    border-radius: 16px;
    display: flex;
    gap: 15px;
    margin-bottom: 18px;
    align-items: flex-start;
    border: 2px solid #0A63A8;
    box-shadow: 8px 8px 20px #d1d1d1,-8px -8px 20px #FFFFFF;
}

.icon {
    width: 55px;
    height: 55px;
}

.phone-number {
    font-size: 24px;
    font-weight: 700;
    color: #222;
}

.small {
    font-size: 14px;
    color: #666;
}

a {
    color: #0a63a8;
    font-weight: 600;
}

.center {
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.footer {
    width: 100%;
    background: #0077B6;
    color: #ffffff;
    padding: 40px 30px 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    margin: auto;
    flex-wrap: wrap;
}

.footer-section {
    width: 22%;
    margin-bottom: 20px;
}

.travel-logo {
    border-radius: 50px;
    margin-right: 10px;
}

.heading-top {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    gap: 2px;
}


.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-direction: column;
}

.social-logo{
    border-radius: 50px;
    margin-right: 10px;
     display: flex;
    flex-direction: column; 
    gap: 12px;
    margin-top: 10px;
}

.social-icons a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.3s;
}

.social-icons img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.social-icons a:hover {
    transform: scale(1.1);
}

.footer-section h2,
.footer-section h3 {
    margin-bottom: 15px;
    color: #ffffff;
}

.footer-section p,
.footer-section li {
    font-size: 15px;
    line-height: 1.5;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;
}

.footer-section a:hover {
    color: #ffffff;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #ffffff44;
    margin-top: 30px;
    font-size: 14px;
}

/* Responsive */
@media (max-width: 480px) {
    .footer-col {
        width: 100%;
        text-align: center;
    }

    .social-icons {
        justify-content: center;
    }
}