
 body {
     margin: 0;
     font-family: Arial, Helvetica, sans-serif;
     background: #F8FBFF;
     color: #333;
 }


 /* Navbar */
 .navbar-main-container {
     background-color: #0077B6;
     padding: 15px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .navbar-main-container:hover {
     box-shadow: 0px 9px 8px blue;
 }

 .main-logo {
     border-radius: 50px;
 }

 .logo-container {
     color: #FFFFFF;
     font-size: 25px;
     font-weight: bold;
     border-radius: 50%;
     align-items: center;
     justify-content: center;
     display: flex;
     gap: 15px;
 }

 .heading {
     font-size: 20px;
     color: #FFFFFF;
     cursor: pointer;
 }

 .nav-links {
     color: none;
     display: flex;
     gap: 30px;
     cursor: pointer;
     padding: 15px;

 }

 .package{
    color:  #fff;
    font-size: 20px;
    display: flex;
    gap: 30px;
    cursor: pointer;
    padding: 2px;
 }


 .auth-nav-links {
     background-color: none;
     display: flex;
     gap: 30px;
     cursor: pointer;
 }


 .signup {
     color: #f8fbff;
 }

 .login {
     color: #f8fbff;
 }

 .contact {
     color: #f8fbff;
 }

 .home {
     color: #f8fbff;
 }

 .about {
     color: #f8fbff;
 }

 .destination {
     color: #f8fbff;
 }

 .services {
     color: #f8fbff;
 }

 .booking {
     color: #f8fbff;
 }

 .package-section {
    height: 900px;
     background-color: rgb(180, 222, 238);
     border: 1px solid black;
 }

 .section-1 {
     color: #302047;
     text-align: center;
     margin: 0px;
     font-size: 50px;
 }

 .section-2 {
     color: #302047;
     text-align: center;
     margin: 40px 0;
     font-size: 25px;
 }

 .section-3 {
     color: #302047;
     text-align: center;
     margin: 10px 0;
     font-size: 30px;
 }

 .underline {
     width: 175px;
     height: 4px;
     background: blueviolet;
     margin: 10px auto 40px;
 }

 .package-container {
     display: flex;
     justify-content: center;
     gap: 30px;
     flex-wrap: wrap;
 }

 .card {
     background: #ffffff;
     width: 300px;
     padding: 15px;
     border-radius: 10px;
     text-align: left;
     color: white;
     margin-bottom: 20px;
 }

 .card:hover {
     box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
 }

 .card img {
     width: 100%;
     height: 200px;
     border-radius: 10px;
     object-fit: cover;
 }

 .card h3 {
     color: #302047;
     font-size: 30px;
     margin: 10px 0;
 }

 .stars {
     color: gold;
     font-size: 18px;
     margin-bottom: 10px;
 }

 .card p {
     color: #302047;
     font-size: 14px;
     margin-bottom: 15px;
 }

 .price {
     background: gold;
     padding: 10px 15px;
     border-radius: 5px;
     text-decoration: none;
     color: black;
     font-weight: bold;
     display: inline-block;
     transition: 0.3s;
 }

 .button{
    text-align: center;
    margin: 40px 0;
    width: 100%;
 }

 .book-btn {
     background-color: orange;
     color:  white;
     padding: 12px 28px;
     border: none;
     border-radius: 30px;
     font-size: 18px;
     font-weight: 600;
     cursor: pointer;
     transition: 0.3s ease;

 }

 .book-btn:hover {
     background-color:  #00B4D8;
     transform: scale(1.05);
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
 }



 .clients-section {
     width: 90%;
     margin: 60px auto;
     text-align: center;
     font-family: Arial, sans-serif;
 }

 .section-title {
     font-size: 32px;
     font-weight: bold;
     margin-bottom: 40px;
     color: #302047;
 }

 .clients-container {
     display: flex;
     justify-content: center;
     gap: 30px;
     flex-wrap: wrap;
 }

 .client-card {
     background: #ffffff;
     width: 300px;
     padding: 25px;
     border-radius: 15px;
     box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
     text-align: center;
     transition: 0.3s ease-in-out;
 }

 .client-card:hover {
     box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
 }

 .emoji {
     font-size: 45px;
     margin-bottom: 15px;
 }

 .feedback {
     font-size: 15px;
     line-height: 1.6;
     color: #302047;
     margin-bottom: 12px;
 }

 .client-name {
     font-size: 16px;
     font-weight: bold;
     color: #0087A8;
 }

 /* Responsive */
 @media (max-width: 768px) {
     .clients-container {
         flex-direction: column;
         align-items: center;
     }
 }

 .footer {
    width: auto;
    background: #0077B6;
    color: #ffffff;
    padding: 40px 30px 10px;
    font-family: Arial, Helvetica, sans-serif;
}


.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    margin: auto;
    flex-wrap: wrap;
}

.footer-section {
    width: 22%;
    margin-bottom: 20px;
}

.travel-logo {
    border-radius: 50px;
    margin-right: 10px;
}

.heading-top {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    gap: 2px;
}


.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-direction: column;
}

.social-logo {
    border-radius: 50px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 10px;
}

.social-icons a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.3s;
}

.social-icons img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.social-icons a:hover {
    transform: scale(1.1);
}

h3 {
    font-size: 24px;
}

.footer-section h2,
.footer-section h3 {
    margin-bottom: 15px;
    color: #ffffff;
}

.footer-section p,
.footer-section li {
    font-size: 20px;
    line-height: 1.5;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

 .footer-container {
     width: 90%;
     margin: auto;
     display: grid;
     grid-template-columns: 1.3fr 1fr 1fr 1.2fr;
     gap: 40px;
 }
.signup {
    color: #f8fbff;
    text-decoration: none;
        font-size: 20px;
}


.login {
    color: #f8fbff;
    text-decoration: none;
        font-size: 20px;
}

.contact {
    color: #f8fbff;
    text-decoration: none;
        font-size: 20px;
}


.home {
    color: #f8fbff;
    text-decoration: none;
        font-size: 20px;
}


.about {
    color: #f8fbff;
    text-decoration: none;
        font-size: 20px;
}


.destination {
    color: #f8fbff;
    text-decoration: none;
        font-size: 20px;
}


.services {
    color: #f8fbff;
    text-decoration: none;
        font-size: 20px;
}


.booking {
    color: #f8fbff;
    text-decoration: none;
     font-size: 20px;
}

.package {
    color: #f8fbff;
    text-decoration: none;
   
}
.footer {
    width: 100%;
    background: #0077B6;
    color: #ffffff;
    padding: 40px 30px 10px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    margin: auto;
    flex-wrap: wrap;
    cursor: pointer;
}

.footer-section {
    width: 22%;
    margin-bottom: 20px;
    cursor: pointer;
}

.travel-logo {
    border-radius: 50px;
    margin-right: 10px;
    cursor: pointer;
}

.heading-top {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    gap: 2px;
    cursor: pointer;
}


.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-direction: column;
    cursor: pointer;
}

.social-logo{
    border-radius: 50px;
    margin-right: 10px;
     display: flex;
    flex-direction: column; 
    gap: 12px;
    margin-top: 10px;
    cursor: pointer;
}

.social-icons a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.social-icons img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.social-icons a:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.footer-section h2,
.footer-section h3 {
    margin-bottom: 15px;
    color: #ffffff;
    cursor: pointer;
}

.footer-section p,
.footer-section li {
    font-size: 15px;
    line-height: 1.5;
    cursor: pointer;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    cursor: pointer;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;

}

.footer-section a:hover {
    color: #ffffff;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #ffffff44;
    margin-top: 30px;
    font-size: 14px;
}

/* Responsive */
@media (max-width: 480px) {
    .footer-col {
        width: 100%;
        text-align: center;
    }

    .social-icons {
        justify-content: center;
        cursor: pointer;
}

.footer-section a:hover {
    color: #ffffff;
}
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #ffffff44;
    margin-top: 30px;
    font-size: 14px;
    cursor: pointer;
}

/* Responsive */
@media (max-width: 480px) {
    .footer-col {
        width: 100%;
        text-align: center;
    }

    .social-icons {
        justify-content: center;
    }
}
