

body {
    font-family: 'Arial', sans-serif;
    background-color: #F8FBFF;
    color: #023047;
    line-height: 1.5;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.navbar-main-container {
    background-color: #0077B6;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;

}

.navbar-main-container:hover {
    box-shadow: 0px 9px 8px blue;
}

.main-logo {
    border-radius: 50px;
}

.logo-container {
    color: #FFFFFF;
    font-size: 25px;
    font-weight: bold;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 15px;
}

.heading {
    font-size: 35px;
    color: #FFFFFF;
    cursor: pointer;
     font-family: "merriweather",serif;
}

.nav-links {
    color: none;
    display: flex;
    gap: 30px;
    cursor: pointer;
    padding: 15px;

}


.auth-nav-links {
    background-color: none;
    display: flex;
    gap: 30px;
    cursor: pointer;
}

.main-image {
    margin-top: 20px;
    width: 600px;
    max-width: 600px;
    border-radius: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.main-content-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.main-heading {
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
}

.project-sub-heading {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

.btn-1 {
    display: inline-block;
    padding: 12px 22px;
    background: #FF6F00;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;
}

.btn-1:hover {
    background: #0077B6;
}

.sinup {
    color: #f8fbff;
    font-size: 20px;
    text-decoration: none;
     font-family: "merriweather",serif;
}

.login {
    color: #f8fbff;
    font-size: 20px;
    text-decoration: none;
     font-family: "merriweather",serif;
}

.contact {
    color: #f8fbff;
    font-size: 20px;
    text-decoration: none;
     font-family: "merriweather",serif;
}

.home {
    color: #f8fbff;
    font-size: 20px;
    text-decoration: none;
     font-family: "merriweather",serif;
}

.about {
    color: #f8fbff;
    font-size: 20px;
    text-decoration: none;
     font-family: "merriweather",serif;
}

.destination {
    color: #f8fbff;
    font-size: 20px;
    text-decoration: none;
     font-family: "merriweather",serif;
}

.services {
    color: #f8fbff;
    font-size: 20px;
    text-decoration: none;
     font-family: "merriweather",serif;
}

.booking {
    color: #f8fbff;
    font-size: 20px;
    text-decoration: none;
     font-family: "merriweather",serif;
}

.package {
    color: #f8fbff;
    font-size: 20px;
    text-decoration: none;
     font-family: "merriweather",serif;
}


.container {
    display: flex;
    min-height: 500px;

    background: url(./../images/login-page-img.jpg) no-repeat center/cover;
    align-items: center;
    padding-bottom: 60px;
}

.left-side {

    align-items: center;
    justify-content: center;

}

.overlay {
    margin-bottom: 350px;
    padding-top: 200px;

    border-radius: 10px;
    text-align: center;
    color: #FFFFFF;
    padding-left: 55px;
}

.quote {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 8px;
    font-family: "Playfair Display", serif;
}

.subtext {
    font-size: 30px;
    font-family: "merriweather", serif;
}

.right-side {
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 33px;
    padding-bottom: 100px;
}

.signup-card {
    background-color: #FFFFFF;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    max-width: 450px;
    height: 530px;
   padding-right: 50px;
}

.signup-card:hover{
     box-shadow: 5px 5px 6px rgb(148, 148, 159);
      transition: 0.3s ease-in-out;
}


.signup-card h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #023047;

}

.form-group {
    margin-bottom: 16px;
}

.form-group label {
    display: block;
    margin-bottom: 7px;
    color: #023047;

}

.form-group input {
    width: 100%;
    padding: 13px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    border-color: #2a717f;
}

.btn {
    width: 100%;
    padding: 13px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 4px;
    margin-top: 10px;

}

.btn-primary {
    background-color: #FF6F00;
    color: #FFFFFF;
    align-items: center;
    width: 150px;
    text-decoration: none;
    text-align: center;
    margin-left: 100px;
    padding: 10px 100px 10px 100px;

}

.btn-primary:hover {
    background-color: #0077B6;

}

.links {
    text-align: center;
    margin-top: 16px;
}

.links a {
    color: #0077B6;
    text-decoration: none;
}

.links a:hover {
    color: #00B4D8;
}

.footer {
    width: auto;
    background: #0077B6;
    color: #ffffff;
    padding: 40px 30px 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    margin: auto;
    flex-wrap: wrap;
}

.footer-section {
    width: 22%;
    margin-bottom: 20px;
}

.travel-logo {
    border-radius: 50px;
    margin-right: 10px;
}

.heading-top {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    gap: 2px;
}


.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-direction: column;
}

.social-logo{
    border-radius: 50px;
    margin-right: 10px;
     display: flex;
    flex-direction: column; 
    gap: 12px;
    margin-top: 10px;
}

.social-icons a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.3s;
}

.social-icons img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.social-icons a:hover {
    transform: scale(1.1);
}

.footer-section h2,
.footer-section h3 {
    margin-bottom: 15px;
    color: #ffffff;
}

.footer-section p,
.footer-section li {
    font-size: 15px;
    line-height: 1.5;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;
}

.footer-section a:hover {
    color: #ffffff;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #ffffff44;
    margin-top: 30px;
    font-size: 14px;
}

    
 @media screen and (max-width: 1024px) {

    body {
        font-size: 15px;
       width: auto;
    }

    .container {
        flex-direction: column;
        padding: 30px 40px;
    }
    .navbar-main-container {
      flex-direction: column;
      text-align: center;
      gap: 10px;
      position:relative;
  }

  .logo-container {
      justify-content: center;
      display: flex;
      align-items: center;
      gap: 10px;
  }

  .nav-links,
  .auth-nav-links {
      display: flex;
      flex-direction: column;
      gap: 12px;
      padding: 0;
      text-align: center;
  }

  .nav-links a,
  .auth-nav-links a {
      font-size: 16px;
      display: flex;
 }

    .quote {
         font-size: 40px; 
        
    }

   .signup-card {
    width: auto;
       margin-right: 10px;
      margin-bottom: 700px;

    }

    .footer {
        padding: 30px 40px ;
        width: auto;
       
    }
    .footer-container{
        display:block;
        width: 100%;
        align-items: center;
        justify-items: center;
       
        flex-direction: column;
    }
    .footer-container {
        gap: 50px;
       padding: 30px 40px;
    }
    .footer-bottom{
        width: auto;
        text-align: center;
       
       
    }

    .footer-section links {
        width: 100%;
    }
}
